.iconflags {
    width: 16px;
    height: 11px;
    vertical-align: middle;
    background-image: url(../img/flags.png);
    display: -moz-inline-stack;
    display: inline-block;
    _overflow: hidden;
    *zoom: 1;
    *display: inline;
    margin: auto 5px;
}

.iconflags.iconflags-ad {
    background-position: -16px 0
}

.iconflags.iconflags-ae {
    background-position: -32px 0
}

.iconflags.iconflags-af {
    background-position: -48px 0
}

.iconflags.iconflags-ag {
    background-position: -64px 0
}

.iconflags.iconflags-ai {
    background-position: -80px 0
}

.iconflags.iconflags-al {
    background-position: -96px 0
}

.iconflags.iconflags-am {
    background-position: -112px 0
}

.iconflags.iconflags-an {
    background-position: -128px 0
}

.iconflags.iconflags-ao {
    background-position: -144px 0
}

.iconflags.iconflags-ar {
    background-position: -160px 0
}

.iconflags.iconflags-as {
    background-position: -176px 0
}

.iconflags.iconflags-at {
    background-position: -192px 0
}

.iconflags.iconflags-au {
    background-position: -208px 0
}

.iconflags.iconflags-aw {
    background-position: -224px 0
}

.iconflags.iconflags-az {
    background-position: -240px 0
}

.iconflags.iconflags-ba {
    background-position: 0 -11px
}

.iconflags.iconflags-bb {
    background-position: -16px -11px
}

.iconflags.iconflags-bd {
    background-position: -32px -11px
}

.iconflags.iconflags-be {
    background-position: -48px -11px
}

.iconflags.iconflags-bf {
    background-position: -64px -11px
}

.iconflags.iconflags-bg {
    background-position: -80px -11px
}

.iconflags.iconflags-bh {
    background-position: -96px -11px
}

.iconflags.iconflags-bi {
    background-position: -112px -11px
}

.iconflags.iconflags-bj {
    background-position: -128px -11px
}

.iconflags.iconflags-bm {
    background-position: -144px -11px
}

.iconflags.iconflags-bn {
    background-position: -160px -11px
}

.iconflags.iconflags-bo {
    background-position: -176px -11px
}

.iconflags.iconflags-br {
    background-position: -192px -11px
}

.iconflags.iconflags-bs {
    background-position: -208px -11px
}

.iconflags.iconflags-bt {
    background-position: -224px -11px
}

.iconflags.iconflags-bv {
    background-position: -240px -11px
}

.iconflags.iconflags-bw {
    background-position: 0 -22px
}

.iconflags.iconflags-by {
    background-position: -16px -22px
}

.iconflags.iconflags-bz {
    background-position: -32px -22px
}

.iconflags.iconflags-ca {
    background-position: -48px -22px
}

.iconflags.iconflags-catalonia {
    background-position: -64px -22px
}

.iconflags.iconflags-cd {
    background-position: -80px -22px
}

.iconflags.iconflags-cf {
    background-position: -96px -22px
}

.iconflags.iconflags-cg {
    background-position: -112px -22px
}

.iconflags.iconflags-ch {
    background-position: -128px -22px
}

.iconflags.iconflags-ci {
    background-position: -144px -22px
}

.iconflags.iconflags-ck {
    background-position: -160px -22px
}

.iconflags.iconflags-cl {
    background-position: -176px -22px
}

.iconflags.iconflags-cm {
    background-position: -192px -22px
}

.iconflags.iconflags-cn {
    background-position: -208px -22px
}

.iconflags.iconflags-co {
    background-position: -224px -22px
}

.iconflags.iconflags-cr {
    background-position: -240px -22px
}

.iconflags.iconflags-cu {
    background-position: 0 -33px
}

.iconflags.iconflags-cv {
    background-position: -16px -33px
}

.iconflags.iconflags-cw {
    background-position: -32px -33px
}

.iconflags.iconflags-cy {
    background-position: -48px -33px
}

.iconflags.iconflags-cz {
    background-position: -64px -33px
}

.iconflags.iconflags-de {
    background-position: -80px -33px
}

.iconflags.iconflags-dj {
    background-position: -96px -33px
}

.iconflags.iconflags-dk {
    background-position: -112px -33px
}

.iconflags.iconflags-dm {
    background-position: -128px -33px
}

.iconflags.iconflags-do {
    background-position: -144px -33px
}

.iconflags.iconflags-dz {
    background-position: -160px -33px
}

.iconflags.iconflags-ec {
    background-position: -176px -33px
}

.iconflags.iconflags-ee {
    background-position: -192px -33px
}

.iconflags.iconflags-eg {
    background-position: -208px -33px
}

.iconflags.iconflags-eh {
    background-position: -224px -33px
}

.iconflags.iconflags-england {
    background-position: -240px -33px
}

.iconflags.iconflags-er {
    background-position: 0 -44px
}

.iconflags.iconflags-es {
    background-position: -16px -44px
}

.iconflags.iconflags-et {
    background-position: -32px -44px
}

.iconflags.iconflags-eu {
    background-position: -48px -44px
}

.iconflags.iconflags-fi {
    background-position: -64px -44px
}

.iconflags.iconflags-fj {
    background-position: -80px -44px
}

.iconflags.iconflags-fk {
    background-position: -96px -44px
}

.iconflags.iconflags-fm {
    background-position: -112px -44px
}

.iconflags.iconflags-fo {
    background-position: -128px -44px
}

.iconflags.iconflags-fr {
    background-position: -144px -44px
}

.iconflags.iconflags-ga {
    background-position: -160px -44px
}

.iconflags.iconflags-gb {
    background-position: -176px -44px
}

.iconflags.iconflags-en {
    background-position: -176px -44px
}

.iconflags.iconflags-gd {
    background-position: -192px -44px
}

.iconflags.iconflags-ge {
    background-position: -208px -44px
}

.iconflags.iconflags-gf {
    background-position: -224px -44px
}

.iconflags.iconflags-gg {
    background-position: -240px -44px
}

.iconflags.iconflags-gh {
    background-position: 0 -55px
}

.iconflags.iconflags-gi {
    background-position: -16px -55px
}

.iconflags.iconflags-gl {
    background-position: -32px -55px
}

.iconflags.iconflags-gm {
    background-position: -48px -55px
}

.iconflags.iconflags-gn {
    background-position: -64px -55px
}

.iconflags.iconflags-gp {
    background-position: -80px -55px
}

.iconflags.iconflags-gq {
    background-position: -96px -55px
}

.iconflags.iconflags-gr {
    background-position: -112px -55px
}

.iconflags.iconflags-gs {
    background-position: -128px -55px
}

.iconflags.iconflags-gt {
    background-position: -144px -55px
}

.iconflags.iconflags-gu {
    background-position: -160px -55px
}

.iconflags.iconflags-gw {
    background-position: -176px -55px
}

.iconflags.iconflags-gy {
    background-position: -192px -55px
}

.iconflags.iconflags-hk {
    background-position: -208px -55px
}

.iconflags.iconflags-hm {
    background-position: -224px -55px
}

.iconflags.iconflags-hn {
    background-position: -240px -55px
}

.iconflags.iconflags-hr {
    background-position: 0 -66px
}

.iconflags.iconflags-ht {
    background-position: -16px -66px
}

.iconflags.iconflags-hu {
    background-position: -32px -66px
}

.iconflags.iconflags-ic {
    background-position: -48px -66px
}

.iconflags.iconflags-id {
    background-position: -64px -66px
}

.iconflags.iconflags-ie {
    background-position: -80px -66px
}

.iconflags.iconflags-il {
    background-position: -96px -66px
}

.iconflags.iconflags-im {
    background-position: -112px -66px
}

.iconflags.iconflags-in {
    background-position: -128px -66px
}

.iconflags.iconflags-io {
    background-position: -144px -66px
}

.iconflags.iconflags-iq {
    background-position: -160px -66px
}

.iconflags.iconflags-ir {
    background-position: -176px -66px
}

.iconflags.iconflags-is {
    background-position: -192px -66px
}

.iconflags.iconflags-it {
    background-position: -208px -66px
}

.iconflags.iconflags-je {
    background-position: -224px -66px
}

.iconflags.iconflags-jm {
    background-position: -240px -66px
}

.iconflags.iconflags-jo {
    background-position: 0 -77px
}

.iconflags.iconflags-jp {
    background-position: -16px -77px
}

.iconflags.iconflags-ke {
    background-position: -32px -77px
}

.iconflags.iconflags-kg {
    background-position: -48px -77px
}

.iconflags.iconflags-kh {
    background-position: -64px -77px
}

.iconflags.iconflags-ki {
    background-position: -80px -77px
}

.iconflags.iconflags-km {
    background-position: -96px -77px
}

.iconflags.iconflags-kn {
    background-position: -112px -77px
}

.iconflags.iconflags-kp {
    background-position: -128px -77px
}

.iconflags.iconflags-kr {
    background-position: -144px -77px
}

.iconflags.iconflags-kurdistan {
    background-position: -160px -77px
}

.iconflags.iconflags-kw {
    background-position: -176px -77px
}

.iconflags.iconflags-ky {
    background-position: -192px -77px
}

.iconflags.iconflags-kz {
    background-position: -208px -77px
}

.iconflags.iconflags-la {
    background-position: -224px -77px
}

.iconflags.iconflags-lb {
    background-position: -240px -77px
}

.iconflags.iconflags-lc {
    background-position: 0 -88px
}

.iconflags.iconflags-li {
    background-position: -16px -88px
}

.iconflags.iconflags-lk {
    background-position: -32px -88px
}

.iconflags.iconflags-lr {
    background-position: -48px -88px
}

.iconflags.iconflags-ls {
    background-position: -64px -88px
}

.iconflags.iconflags-lt {
    background-position: -80px -88px
}

.iconflags.iconflags-lu {
    background-position: -96px -88px
}

.iconflags.iconflags-lv {
    background-position: -112px -88px
}

.iconflags.iconflags-ly {
    background-position: -128px -88px
}

.iconflags.iconflags-ma {
    background-position: -144px -88px
}

.iconflags.iconflags-mc {
    background-position: -160px -88px
}

.iconflags.iconflags-md {
    background-position: -176px -88px
}

.iconflags.iconflags-me {
    background-position: -192px -88px
}

.iconflags.iconflags-mg {
    background-position: -208px -88px
}

.iconflags.iconflags-mh {
    background-position: -224px -88px
}

.iconflags.iconflags-mk {
    background-position: -240px -88px
}

.iconflags.iconflags-ml {
    background-position: 0 -99px
}

.iconflags.iconflags-mm {
    background-position: -16px -99px
}

.iconflags.iconflags-mn {
    background-position: -32px -99px
}

.iconflags.iconflags-mo {
    background-position: -48px -99px
}

.iconflags.iconflags-mp {
    background-position: -64px -99px
}

.iconflags.iconflags-mq {
    background-position: -80px -99px
}

.iconflags.iconflags-mr {
    background-position: -96px -99px
}

.iconflags.iconflags-ms {
    background-position: -112px -99px
}

.iconflags.iconflags-mt {
    background-position: -128px -99px
}

.iconflags.iconflags-mu {
    background-position: -144px -99px
}

.iconflags.iconflags-mv {
    background-position: -160px -99px
}

.iconflags.iconflags-mw {
    background-position: -176px -99px
}

.iconflags.iconflags-mx {
    background-position: -192px -99px
}

.iconflags.iconflags-my {
    background-position: -208px -99px
}

.iconflags.iconflags-mz {
    background-position: -224px -99px
}

.iconflags.iconflags-na {
    background-position: -240px -99px
}

.iconflags.iconflags-nc {
    background-position: 0 -110px
}

.iconflags.iconflags-ne {
    background-position: -16px -110px
}

.iconflags.iconflags-nf {
    background-position: -32px -110px
}

.iconflags.iconflags-ng {
    background-position: -48px -110px
}

.iconflags.iconflags-ni {
    background-position: -64px -110px
}

.iconflags.iconflags-nl {
    background-position: -80px -110px
}

.iconflags.iconflags-no {
    background-position: -96px -110px
}

.iconflags.iconflags-np {
    background-position: -112px -110px
}

.iconflags.iconflags-nr {
    background-position: -128px -110px
}

.iconflags.iconflags-nu {
    background-position: -144px -110px
}

.iconflags.iconflags-nz {
    background-position: -160px -110px
}

.iconflags.iconflags-om {
    background-position: -176px -110px
}

.iconflags.iconflags-pa {
    background-position: -192px -110px
}

.iconflags.iconflags-pe {
    background-position: -208px -110px
}

.iconflags.iconflags-pf {
    background-position: -224px -110px
}

.iconflags.iconflags-pg {
    background-position: -240px -110px
}

.iconflags.iconflags-ph {
    background-position: 0 -121px
}

.iconflags.iconflags-pk {
    background-position: -16px -121px
}

.iconflags.iconflags-pl {
    background-position: -32px -121px
}

.iconflags.iconflags-pm {
    background-position: -48px -121px
}

.iconflags.iconflags-pn {
    background-position: -64px -121px
}

.iconflags.iconflags-pr {
    background-position: -80px -121px
}

.iconflags.iconflags-ps {
    background-position: -96px -121px
}

.iconflags.iconflags-pt {
    background-position: -112px -121px
}

.iconflags.iconflags-pw {
    background-position: -128px -121px
}

.iconflags.iconflags-py {
    background-position: -144px -121px
}

.iconflags.iconflags-qa {
    background-position: -160px -121px
}

.iconflags.iconflags-re {
    background-position: -176px -121px
}

.iconflags.iconflags-ro {
    background-position: -192px -121px
}

.iconflags.iconflags-rs {
    background-position: -208px -121px
}

.iconflags.iconflags-ru {
    background-position: -224px -121px
}

.iconflags.iconflags-rw {
    background-position: -240px -121px
}

.iconflags.iconflags-sa {
    background-position: 0 -132px
}

.iconflags.iconflags-sb {
    background-position: -16px -132px
}

.iconflags.iconflags-sc {
    background-position: -32px -132px
}

.iconflags.iconflags-scotland {
    background-position: -48px -132px
}

.iconflags.iconflags-sd {
    background-position: -64px -132px
}

.iconflags.iconflags-se {
    background-position: -80px -132px
}

.iconflags.iconflags-sg {
    background-position: -96px -132px
}

.iconflags.iconflags-sh {
    background-position: -112px -132px
}

.iconflags.iconflags-si {
    background-position: -128px -132px
}

.iconflags.iconflags-sk {
    background-position: -144px -132px
}

.iconflags.iconflags-sl {
    background-position: -160px -132px
}

.iconflags.iconflags-sm {
    background-position: -176px -132px
}

.iconflags.iconflags-sn {
    background-position: -192px -132px
}

.iconflags.iconflags-so {
    background-position: -208px -132px
}

.iconflags.iconflags-somaliland {
    background-position: -224px -132px
}

.iconflags.iconflags-sr {
    background-position: -240px -132px
}

.iconflags.iconflags-ss {
    background-position: 0 -143px
}

.iconflags.iconflags-st {
    background-position: -16px -143px
}

.iconflags.iconflags-sv {
    background-position: -32px -143px
}

.iconflags.iconflags-sy {
    background-position: -48px -143px
}

.iconflags.iconflags-sz {
    background-position: -64px -143px
}

.iconflags.iconflags-tc {
    background-position: -80px -143px
}

.iconflags.iconflags-td {
    background-position: -96px -143px
}

.iconflags.iconflags-tf {
    background-position: -112px -143px
}

.iconflags.iconflags-tg {
    background-position: -128px -143px
}

.iconflags.iconflags-th {
    background-position: -144px -143px
}

.iconflags.iconflags-tj {
    background-position: -160px -143px
}

.iconflags.iconflags-tk {
    background-position: -176px -143px
}

.iconflags.iconflags-tl {
    background-position: -192px -143px
}

.iconflags.iconflags-tm {
    background-position: -208px -143px
}

.iconflags.iconflags-tn {
    background-position: -224px -143px
}

.iconflags.iconflags-to {
    background-position: -240px -143px
}

.iconflags.iconflags-tr {
    background-position: 0 -154px
}

.iconflags.iconflags-tt {
    background-position: -16px -154px
}

.iconflags.iconflags-tv {
    background-position: -32px -154px
}

.iconflags.iconflags-tw {
    background-position: -48px -154px
}

.iconflags.iconflags-tz {
    background-position: -64px -154px
}

.iconflags.iconflags-ua {
    background-position: -80px -154px
}

.iconflags.iconflags-uk {
    background-position: -80px -154px
}

.iconflags.iconflags-ug {
    background-position: -96px -154px
}

.iconflags.iconflags-um {
    background-position: -112px -154px
}

.iconflags.iconflags-us {
    background-position: -128px -154px
}

.iconflags.iconflags-uy {
    background-position: -144px -154px
}

.iconflags.iconflags-uz {
    background-position: -160px -154px
}

.iconflags.iconflags-va {
    background-position: -176px -154px
}

.iconflags.iconflags-vc {
    background-position: -192px -154px
}

.iconflags.iconflags-ve {
    background-position: -208px -154px
}

.iconflags.iconflags-vg {
    background-position: -224px -154px
}

.iconflags.iconflags-vi {
    background-position: -240px -154px
}

.iconflags.iconflags-vn {
    background-position: 0 -165px
}

.iconflags.iconflags-vu {
    background-position: -16px -165px
}

.iconflags.iconflags-wales {
    background-position: -32px -165px
}

.iconflags.iconflags-wf {
    background-position: -48px -165px
}

.iconflags.iconflags-ws {
    background-position: -64px -165px
}

.iconflags.iconflags-ye {
    background-position: -80px -165px
}

.iconflags.iconflags-yt {
    background-position: -96px -165px
}

.iconflags.iconflags-za {
    background-position: -112px -165px
}

.iconflags.iconflags-zanzibar {
    background-position: -128px -165px
}

.iconflags.iconflags-zh {
    background-position: -208px -22px
}

.iconflags.iconflags-zh_cn {
    background-position: -208px -22px
}

.iconflags.iconflags-zh_hans {
    background-position: -208px -22px
}

.iconflags.iconflags-zm {
    background-position: -144px -165px
}

.iconflags.iconflags-zw {
    background-position: -160px -165px
}
