body {
    background: #a2a2a2;
}

.wrapper {
    padding-top: 10%;
}

.wrapper .login-form {
    width: 350px;
    margin: 0 auto;
}

form {
    margin: 0;
}

form .form-actions {
    padding-bottom: 0;
    margin-bottom: 10px;
}

form .help-block {
    display: none;
}

body #overall-wrap {
    min-height: 100%;
    margin: 0 auto -75px;
}

body > footer {
    height: 34px;
    padding: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.5;
}