*.log
composer.phar
composer.lock
*.bin
*.settings
.project
*db.php
uploads/
*.komodoproject
/nbproject/private/
/.komodotools/
*.xml
*.properties
nbproject/
/.idea/
protected/config/db.php
*/_log
/tests/tests/_log/
*.*~
*.yml
!*.dist.yml