DirectoryIndex index.php
AddDefaultCharset utf-8

Options +FollowSymLinks

# Запрещаем листинг директорий
Options -indexes

# Отключаем вывод информации о сервере
ServerSignature Off
php_flag expose_php Off

php_value mbstring.func_overload "7"

# Не даем IE войти в режим совместимости с IE7, даже когда он сам этого хочет
# github.com/rails/rails/commit/123eb25#commitcomment-118920
# Use ChromeFrame if it's installed for a better experience for the poor IE folk
<IfModule mod_setenvif.c>
	<IfModule mod_headers.c>
		BrowserMatch MSIE ie
		Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
	</IfModule>
</IfModule>

<IfModule mod_deflate.c>
	# выставляем заголовок Content-Encoding: gzip
	AddEncoding gzip .gz
	# для favicon.ico
	AddOutputFilterByType DEFLATE image/x-icon
	# также для CSS- и JavaScript-файлов
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	# отключаем сжатие для тех браузеров, у которых проблемы
	# с его распознаванием
	BrowserMatch "MSIE [456]" no_gzip dont-vary
	BrowserMatch "SV1;" !no_gzip !dont-vary
	BrowserMatch "Opera" !no_gzip !dont-vary
	BrowserMatch "Firefox/[0-3]\." gzip-only-text/html
	BrowserMatch "Firefox/3\.[1-9]" !gzip-only-text/html
	BrowserMatch "Chrome/2" gzip-only-text/html
	BrowserMatch "Safari" gzip-only-text/html
	BrowserMatch "Konqueror" gzip-only-text/html
</IfModule>

<IfModule mod_expires.c>
	# включаем кэширование для всех файлов сроком на 10 лет
	ExpiresActive On
	ExpiresDefault "access plus 10 years"
	# отключаем его для HTML-файлов
	<FilesMatch .*\.(shtml|html|phtml|php)$>
		ExpiresActive Off
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	# указываем прокси-серверам передавать заголовок User-Agent
	# для корректного распознавания сжатия
	Header append Vary User-Agent env=!dont-vary
	# запрещаем кэширование на уровне прокси-сервера для всех
	# файлов, для которых у нас выставлено сжатие,
	<FilesMatch .*\.(css|js|php|phtml|shtml|html|xml)$>
		Header append Cache-Control: "private, must-revalidate"
	</FilesMatch>
</IfModule>

RewriteEngine on

# Универсальный редирект с домена С www. на домен БEЗ www
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

# Закрываем доступ к .htaccess
RewriteRule ^\.htaccess$ - [F]

