AddDefaultCharset utf-8
Options +FollowSymLinks
IndexIgnore */*

ServerSignature Off
php_flag expose_php Off

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php