body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
#attribute-options li{
    list-style: none;
}
li.placeholder {
    position: relative;
}

li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
}
.hidden{
    display: none !important;
}

ol.type-attributes {
    margin: 0;
}

ol.type-attributes li {
    list-style: none;
}

ol.type-attributes li span{
    display: block;
    background: #fff;
    padding: 4px 4px 4px 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.product-image{
    float: left;
    margin: 4px 20px 4px;
}
.product-image label{
    display: inline-block;
}
.product-image input[type="radio"]{
    margin: 0 4px 0 0;
}

.file_upload {
    position: relative;
    overflow: hidden;
    background: #eee;
    border: 1px solid #ccc;
    line-height: 1;
    text-align: center;
    padding: 6px;
    display: inline-block;
}

.file_upload input[type=file] {
    position: absolute;
    top: 0; right: 0;
    font-size: 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.error input, .error select {
    border-color: #b94a48;
    color: #b94a48;
}

.note {
    width: 100%;
    clear: both;
    padding: 3px;
    border: 1px dotted #ffc539;
    background-color: #fffac4;
    margin-top: 3px;
}

hr {
    margin: 4px;
}

#products .well {
    min-height: 20px;
    padding: 5px 5px 5px 2px;
    margin-bottom: 2px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel {
    padding: 15px;
    margin-bottom: 4px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
    padding: 10px 15px;
    margin: -15px -15px 15px;
    font-size: 17.5px;
    font-weight: 500;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-footer {
    padding: 10px 15px;
    margin: 15px -15px -15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-primary {
    border-color: #428bca;
}

.panel-primary .panel-heading {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-success .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-warning {
    border-color: #fbeed5;
}

.panel-warning .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.panel-danger {
    border-color: #eed3d7;
}

.panel-danger .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.panel-info {
    border-color: #bce8f1;
}

.panel-info .panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.product-row{
    margin-bottom: 4px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}