
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,  blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}
p{  
border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
	
body { line-height: 1; background:#f3f8f8 ; font-family:Verdana, Geneva, sans-serif; font-size:12px; }
ol, ul {list-style: none;}
ins { text-decoration: none;}
del { text-decoration: line-through;}
 
table { border-collapse: collapse; border-spacing: 0 }
 
article, aside, details, figcaption, figure, dialog,
fieldset,img { border:0;}
footer, header, hgroup, menu, nav, section {display:block;}
address,caption,cite,td,de,dfn,em,strong,th,var {text-align: left;  font-weight: normal;  float:none !important;}
 
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" "";  content:'';}
img { border: none; outline: none;}
:focus { outline: 0; }

a{ text-decoration:none;}


