.installContentWrapper { padding-top: 50px; padding-bottom: 90px; }
#overall-wrap .installContentWrapper .installContent { margin: 0 auto; width: 75%; }
.installContent::after { clear: both; }
.installContent .installMenu .disabled > a { color: #000; }
.installContent .installMenu .current { color: #fff; }
.installContent .installMenu .current a { color: #fff; }
.installContent .installMenu .current:hover { background-color: #0088cc; }
.installContent .installMenu .current a:hover { text-decoration: underline; background-color: #0088cc; }
.installContent .installMenu .current i { top: -1px; position: relative; }
.installContent .installMenu .current { background-color: #0088cc; margin-right: -15px; margin-left: -15px; padding: 3px 15px; }
.installContent .installMenu .disabled i { top: -1px; position: relative; }
#modules-modal-list.row { margin-left: 0px; }
#module-list [class^="icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-bottom;
    background-position: 14px 14px;
    background-repeat: no-repeat;
}