.alert-bangTidy {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgba(0, 0, 0, 0.80);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.88) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.80)), color-stop(100%, rgba(0, 0, 0, 0.88)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.88) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.88) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.88) 100%);
    background: linear-gradient(top, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.88) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.80)', endColorstr='rgba(0, 0, 0, 0.88)', GradientType=0);
    border: 1px solid #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    color: white;
    -webkit-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    -o-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
}

/**
 * alert-blackgloss.css v1.0
 * --
 * Based off blackgloss growl theme.
 * Copyright 2012 Nijiko Yonskai
 * --
 * Usage: 
 *   Set style to `blackgloss` and include this css.
 *
 * Note: 
 *   The gloss is only supported in webkit based browsers. 
 *   Chrome and Safari.
 */
@-webkit-keyframes notification {
    0% {
        -webkit-transform: rotateY(-90deg);
        opacity: 0;
    }
    70% {
        -webkit-transform: rotateY(20deg);
        opacity: .8;
    }
    90% {
        -webkit-transform: rotateY(-10deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(-0deg);
        opacity: 1;
    }
}

@-moz-keyframes notification {
    0% {
        -webkit-transform: rotateY(-90deg);
        opacity: 0;
    }
    70% {
        -webkit-transform: rotateY(20deg);
        opacity: .8;
    }
    90% {
        -webkit-transform: rotateY(-10deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(-0deg);
        opacity: 1;
    }
}

@-o-keyframes notification {
    0% {
        -webkit-transform: rotateY(-90deg);
        opacity: 0;
    }
    70% {
        -webkit-transform: rotateY(20deg);
        opacity: .8;
    }
    90% {
        -webkit-transform: rotateY(-10deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(-0deg);
        opacity: 1;
    }
}

.keyframes notification {

0
%
{
    -webkit-transform: rotateY(-90deg)
;
    opacity: 0
;
}
70
%
{
    -webkit-transform: rotateY(20deg)
;
    opacity: .8
;
}
90
%
{
    -webkit-transform: rotateY(-10deg)
;
    opacity: 1
;
}
100
%
{
    -webkit-transform: rotateY(-0deg)
;
    opacity: 1
;
}
}

/* Webkit Only */
.alert-blackgloss:before {
    background: -webkit-gradient(linear, 0% -16.5%, 16.5% -100%, from(rgba(255, 255, 255, .0)), to(rgba(255, 255, 255, .6)), color-stop(.99, rgba(255, 255, 255, .2)), color-stop(.5, rgba(255, 255, 255, .0))) no-repeat;
    -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .5)), color-stop(.8, rgba(255, 255, 255, .0)));
    position: absolute;
    content: '.';
    line-height: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    -webkit-border-radius: 5px;
}

.alert-blackgloss {
    -webkit-animation: notification .75s linear;
    -moz-animation: notification .75s linear;
    -ms-animation: notification .75s linear;
    -o-animation: notification .75s linear;
    animation: notification .75s linear;
    background: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    border: 1px solid rgba(0, 0, 0, .95);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    color: #fff;
    -webkit-transform: rotateY(-0deg);
    -moz-transform: rotateY(-0deg);
    -o-transform: rotateY(-0deg);
    transform: rotateY(-0deg);
    position: relative;
    background-clip: padding-box;
}

.alert-blackgloss .close {
    position: relative;
    top: -3px;
    right: -25px;
    color: #fff;
    content: 'x';
}

.notifications {
    position: fixed;
}

/* Positioning */
.notifications.top-right {
    right: 10px;
    top: 50px;
}

.notifications.top-left {
    left: 10px;
    top: 25px;
}

.notifications.bottom-left {
    left: 10px;
    bottom: 25px;
}

.notifications.bottom-right {
    right: 10px;
    bottom: 25px;
}

/* Notification Element */
.notifications > div {
    position: relative;
    z-index: 9999;
    margin: 5px 0px;
}

.blog-logo {
    border: 1px solid #e2e2e2;
    width: 109px;
    height: 109px;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.blog-description {
    padding-top: 13px;
    margin-left: 130px;
}

.blog-description-name {
    vertical-align: top;
    font-size: 18pt;
    margin-bottom: 10px;
}

.blog-description-name .rss {
    padding-bottom: 7px;
}

.blog-description-info {
    color: #a5a5a5;
}

.blog-description-info::after {
    display: block;
    content: "";
    border-bottom: 1px solid #e2e2e2;
    margin-top: 5px;
}

.blog-description-info span {
    padding-right: 20px;
}

.blog-description-info a {
    color: #a5a5a5;
    text-decoration: underline;
}

.blog-description-members {
    margin-top: 10px;
    color: #7a7a7a;
}

.blog-description-members-list {
    background-color: #f1f1f1;
    border-right: 2px solid #e2e2e2;
    width: 483px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.without-btns .blog-description-members-list {
    width: 100%;
    float: inherit;
}

.without-btns .blog-description-members-buttons {
    display: none;
    visibility: hidden;
}

.member-listing {
    float: left;
    margin-left: 10px;
    width: 390px;
    max-height: 25px;
    overflow: hidden;
}

.member-listing-user {
    display: inline-block;
    padding: 2px 5px;
    position: relative;
    top: -2px;
}

.member-listing-user a {
    color: #000;
}

.member-listing-user a:hover {
    text-decoration: none;
}

.member-listing-user:hover {
    background-color: #fabb18;
}

.member-listing-user:hover a {
    color: #fff;
}

.blog-description-members-buttons {
    width: 240px;
    float: left;
    padding-left: 10px;
}

.blog-description-members-buttons a {
    margin-right: 15px;
}

.blog-description-members .list-expanding {
    background-color: #d0d0d0;
    color: #fff;
    text-decoration: none;
}

.blog-description-members .list-expanding span::after {
    content: "∧";
    width: 10px;
    height: 10px;
    position: relative;
    top: -1px;
}

.blog-description-members .list-expanding.btn-disabled {
    color: #7a7a7a;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
    -khtml-opacity: 0.1;
    -moz-opacity: 0.1;
    opacity: 0.1;
}

.blog-description-members .list-expanding.btn-disabled:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -khtml-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.3;
}

.blog-description-members.expand-list .list-expanding span::after {
    content: "∨";
    width: 10px;
    height: 10px;
    position: relative;
    top: -1px;
}

.blog-description-members.expand-list .member-listing {
    max-height: inherit;
}

.blog-description-text {
    position: relative;
}

.blog-description-text p {
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #a5a5a5;
}

.blog-description-text::before {
    display: block;
    content: "\201D";
    font-size: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #a5a5a5;
}

.blog-description-text::after {
    display: block;
    content: "\201C";
    font-size: 20px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #a5a5a5;
}

.clear-both {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.pull-left::after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

/* Main marketing message and sign up button */
a.reply {
    font-size: 11px;
    text-decoration: none;
    border-bottom: 1px dashed;
    margin-right: 10px;
}

.jumbotron {
    margin: 80px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Начала блока комментариев */
.comments-section {
    font: 13px arial, helvetica, sans-serif;
    color: #333333;
}

.comments-section-count-feed {
    padding: 0 0 0 7px;
    font-size: 24px;
    font-weight: normal;
}

.comments-add-form {
    padding: 0 0 0 86px;
    position: relative;
    margin: 0 0 -10px 0;
}

.comments-add-text textarea {
    background: #f5f5f5;
    padding: 0 15px;
    margin: 0 0 0 -34px;
    line-height: 36px;
    height: 36px;
    width: 100%;
    border: 1px solid #eeeeee;
    resize: none;
    box-shadow: -1px -1px 0 #dddddd, 1px -1px 0 #dddddd, 0px -2px 0 #c6c6c6, -1px -2px 0 #c6c6c6, 1px -2px 0 #c6c6c6;
}

.comments-item {
    position: relative;
    margin: 20px 0 0 0;
}

.comments-item-avatar, .comments-add-ava {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

.comments-item-avatar img, .comments-add-ava img {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}

.comments-item-main {
    padding: 0 0 0 54px;
}

.comments-item-author {
    padding: 0px 0 7px 0;
    font-weight: bold;
    font-size: 15px;
    color: #8f8f8f;
}

.comments-item-author a {
    color: #8f8f8f;
}

.comments-item-top, .comments-item-top a {
    color: #a5a5a5;
    font-size: 14px;
}

.comments-item-info {
    overflow: hidden;
    display: block;
}

.comments-item-date {
    padding: 0 0 0 22px;
    line-height: 20px;
    font-weight: normal;
    height: 15px;
    background: url('../images/cal-reply.png') no-repeat 0 0;
}

.comments-item-reply {
    float: right;
    padding: 0 0 0 24px;
    height: 14px;
    line-height: 14px;
    background: url('../images/cal-reply.png') no-repeat 0 -15px;
}

.comments-item-reply a {
    text-decoration: underline;
}

.comments-item-reply a:hover {
    text-decoration: none;
}

.comments-item-message {
    padding: 5px 0;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
    overflow: hidden;
}

/* Вложенные комментарии */
.comments-item-child {
    background: #f5f5f5;
    margin: 10px 0 0 0;
}

.comments-item-child .comments-item-main:before {
    display: block;
    content: '';
    background: url('../images/comment-marker.png') no-repeat;
    width: 34px;
    height: 13px;
    margin: -31px 0 18px 0;
}

.comments-item-child .comments-item-main {
    margin: 18px 20px;
    padding: 18px 0 10px 54px;
}

.comments-item-child .comments-item-avatar {
    left: 20px;
    top: 18px;
}

.comments-item-child .comments-item-date {
    background-position: 0 -29px;
}

.yupe-widget-header {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    border: 1px solid #D5D5D5;
    -webkit-background-clip: padding-box;
}

.yupe-widget-header h3 {

    position: relative;
    top: 2px;
    left: 10px;

    display: inline-block;
    margin-right: 3em;

    font-size: 14px;
    font-weight: 800;
    color: #555;
    line-height: 18px;

    text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
}

.yupe-widget-header > [class^="icon-"], .bootstrap-widget-header > [class*=" icon-"] {

    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;

    font-size: 16px;
    color: #555;
    vertical-align: middle;

}

.yupe-widget-content {
    padding: 20px 15px 15px;

    background: #FFF;

    border: 1px solid #D5D5D5;
}

.yupe-widget-header + .yupe-widget-content {
    border-top: none;

    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.posts-header {
    padding: 20px 0;
    text-align: center;
    color: #a5a5a5;
}

.posts-header::after {
    content: "";
    border-top: 1px dashed #e2e2e2;
    display: block;
    position: relative;
    top: -10px;
    z-index: -1;
}

.posts-header-text {
    padding: 5px 20px;
    background-color: #fff;
}

.posts-list {
    margin-top: -40px;
    margin-bottom: 40px;
}

.posts-list-block {
    margin-top: 40px;
    padding: 0 5px;
}

.posts-list-block-header {
    font-size: 18pt;
}

.posts-list-block-meta {
    margin-top: 10px;
    margin-bottom: 15px;
}

.posts-list-block-meta::after {
    display: block;
    padding-top: 5px;
    padding-right: 10px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    content: "";
}

.posts-list-block-meta, .posts-list-block-meta a {
    color: #a5a5a5;
}

.posts-list-block-meta span {
    margin-right: 15px;
}

.posts-list-block-tags {
    padding-right: 10px;
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e4e4e4;
    margin: 10px 0 0 0;
}

.posts-list-block-tags *, .posts-list-block-tags-comments a:hover {
    color: #a4a4a4;
}

.posts-list-block-tags div {
    padding: 10px;
}

.posts-list-block-tags-block {
    margin-right: 30px;
}

.posts-list-block-tags-block span {
    display: inline-block;
    padding: 2px 4px;
    line-height: 14px;
    text-decoration: underline;
    color: #a5a5a5;
    vertical-align: baseline;
    white-space: nowrap;
}

.posts-list-block-tags-block span:hover, .posts-list-block-tags-block span:hover a {
    color: #fff;
    background-color: #3a87ad;
    text-decoration: none;
}

.posts-list-block-tags-comments {
    position: absolute;
    right: 15px;
    top: 10px;
}

.auth-services {
    padding: 0;
}

/* карточка пользователя под постом */

.post-author {

}

.post-author h4 {
    margin-top: 0;
}

.post-author blockquote {
    font-size: 14px;
    padding: 0;
}

/* страница профиля пользователя */

.profile-comment {

}

.profile-comment .comments-item {
    margin-top: 0;
}

.profile-comment .post-link {
    font-family: Tahoma, sans-serif;
    font-size: 10px;
}

.profile-comment .post-link a {
    color: #666;
}

.profile-comment .post-link .count {
    color: #ff0000;
}

/* виджеты в sidebar */

.sidebar .widget .list-unstyled > hr:last-child, .sidebar .widget .list-unstyled li:last-child hr {
    display: none;
}
