html {
	padding: 0;
	margin: 0;
}
body {
	font-family: "PT Sans", "Trebuchet MS", Verdana, Arial, Tahoma, sans-serif;      
	font-size: 15px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
div,
p,
ul,
ol,
table,
dl,
pre,
h1, 
h2, 
h3, 
h4,
h5 {
	margin: 15px;
}
div,
p,
ul,
ol,
table,
dl,
blockquote,
pre,
iframe, 
object,
hr {
	margin-bottom: 15px;	
	line-height: 1.5em;		
}
blockquote {
	margin-left: 3em;
	font-style: italic;
	color: #777;	
}
div {
	background-color: #fff;
	border: 1px dashed #ebebeb;	
}
ul, ol {
	padding-left: 2em;	
}
ul ul, 
ol ol, 
ul ol, 
ol ul {
	border: none;
	margin: 2px !important;
	padding: 0;
	padding-left: 2em;	
}
dl dt { font-weight: bold; }
dd { margin-left: 1em;}

table {
	border-collapse: collapse;
	font-size: 1em;	
}
table td {
	border: 1px solid #ddd;
	padding: 5px;
}
table thead td {
	border-bottom: 2px solid #000 !important;
	font-weight: bold;
}
code, pre {
	font-family: monospace sans-serif; 
}
code {
	background-color: #d8d7d7;
}
pre { 
	padding: 1em; 
	border: 1px dashed #ccc; 
	background: #f5f5f5; 
	overflow: auto;  
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

.redactor_video_box {
	width: 300px;
	height: 200px;
	background: url(../i/video_box.png) center no-repeat #000 !important;	
	margin: 10px;
	margin-bottom: 1.5em;	
}
.redactor_video_box object, .redactor_video_box embed, .redactor_video_box iframe {
	display: none;
}

.redactor_file_link {
	padding-left: 20px;
}
.redactor_file_ico_avi 	  { background: url(../i/fileicons/avi.png) no-repeat; }
.redactor_file_ico_csv 	  { background: url(../i/fileicons/csv.png) no-repeat; }
.redactor_file_ico_doc 	  { background: url(../i/fileicons/doc.png) no-repeat; }
.redactor_file_ico_gif 	  { background: url(../i/fileicons/gif.png) no-repeat; }
.redactor_file_ico_html   { background: url(../i/fileicons/html.png) no-repeat; }
.redactor_file_ico_jpg 	  { background: url(../i/fileicons/jpg.png) no-repeat; }
.redactor_file_ico_mov	  { background: url(../i/fileicons/mov.png) no-repeat; }
.redactor_file_ico_other  { background: url(../i/fileicons/other.png) no-repeat; }
.redactor_file_ico_pdf 	  { background: url(../i/fileicons/pdf.png) no-repeat; }
.redactor_file_ico_png 	  { background: url(../i/fileicons/png.png) no-repeat; }
.redactor_file_ico_ppt 	  { background: url(../i/fileicons/ppt.png) no-repeat; }
.redactor_file_ico_rar 	  { background: url(../i/fileicons/rar.png) no-repeat; }
.redactor_file_ico_rtf 	  { background: url(../i/fileicons/rtf.png) no-repeat; }
.redactor_file_ico_txt 	  { background: url(../i/fileicons/txt.png) no-repeat; }
.redactor_file_ico_xls 	  { background: url(../i/fileicons/xls.png) no-repeat; }
.redactor_file_ico_zip 	  { background: url(../i/fileicons/zip.png) no-repeat; }


h1, h2, h3, h4,h5 {
	font-weight: bold;	
}

h1 {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 10px;	
}
h2 {
	font-size: 30px;
	line-height: 36px;	
	margin-bottom: 15px;	
}
h3 {
	font-size: 24px;
	line-height: 30px;	
	margin-bottom: 10px;	
}
h4 {
	font-size: 18px;
	line-height: 24px;	
	margin-bottom: 10px;	
}
h4 {
	font-size: 1em;
	margin-bottom: 10px;	
}
