.redactor_box {
	position: relative;
	border: 1px solid #ddd;	
	line-height: 0;
}
.redactor_box, .redactor_box textarea {
	background-color: #fff;
}

body .redactor_air {
	position: absolute;
	border: 1px solid #ddd;
	border-bottom: none;
	z-index: 1001;
}
.redactor_box iframe {
	outline: none;	
	width: 100%;
	background: #fff;
	display: block;
	overflow: auto;
}
.redactor_box textarea {
	overflow: auto;
	resize: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	z-index: 1;	
	outline: none;	
	border: none;
	width: 100%;
	font-size: 13px;
}

/*
	FULLSCREEN
*/
body .redactor_box_fullscreen {
	position: absolute;
	z-index: 2000;
	top: 0;
	left: 0;
	border: none !important;
	width: 100%;
	height: 100%;
}
body .redactor_box_fullscreen .redactor_resizer {
	display: none;
}



/*
	TOOLBAR
*/
.redactor_toolbar {
	position: relative;
	z-index: 1002;
	height: 30px;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 0 !important;
	list-style: none;
	font-size: 0;
	background: url(../i/bg_toolbar.png) repeat-x bottom #f4f4f4;
	overflow: hidden;	
	border-bottom: 1px solid #cecccc;
}
.redactor_toolbar li {
	float: left !important;
	display: inline !important;
	padding: 1px;
	padding-right: 0;
}
.redactor_toolbar li.redactor_separator {
	float: left;
	background: url(../i/separator.png) center no-repeat;
	width: 2px;
	height: 32px;
	padding: 0;
	margin: 0 2px;
}
.redactor_toolbar_right {
	float: none;
	float: right !important;
	padding: 2px 0;
	padding-right: 1px !important;
}
.redactor_toolbar li a, .redactor_toolbar li a span {
	width: 25px;
	height: 26px;
}	

.redactor_toolbar li a {
	border: 1px solid transparent;
	* border: 1px solid #eee; 
	display: block;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	zoom: 1;
	text-decoration: none;
}	

.redactor_toolbar li a span {
	display: block;
	text-indent: -3000px;
	background: url(../i/icons.png) no-repeat top left;
}
	
.redactor_toolbar li a:hover {
	border-color: #98a6ba;
	background-color: #d6dce6;
}
.redactor_toolbar li a:active, .redactor_toolbar li a.act {
	border-color: #b5b5b5;
	background-color: #e8e8e8;
}


/*
	BUTTONS
	step 25px
*/
body .redactor_toolbar li a.redactor_btn_html span				 { background-position: 0; }
body .redactor_toolbar li a.redactor_btn_styles span			 { background-position: -25px; }
body .redactor_toolbar li a.redactor_btn_bold span				 { background-position: -50px; }
body .redactor_toolbar li a.redactor_btn_italic span			 { background-position: -75px; }
body .redactor_toolbar li a.redactor_btn_deleted span		 	 { background-position: -550px; }		
body .redactor_toolbar li a.redactor_btn_insertunorderedlist span { background-position: -100px; }		
body .redactor_toolbar li a.redactor_btn_insertorderedlist span  { background-position: -125px; }
body .redactor_toolbar li a.redactor_btn_outdent span	 		 { background-position: -150px; }
body .redactor_toolbar li a.redactor_btn_indent span		 	 { background-position: -175px; }
body .redactor_toolbar li a.redactor_btn_image span		 		 { background-position: -200px; }
body .redactor_toolbar li a.redactor_btn_video span		 		 { background-position: -225px; }
body .redactor_toolbar li a.redactor_btn_file span		 		 { background-position: -250px; }	
body .redactor_toolbar li a.redactor_btn_table span		 		 { background-position: -275px; }
body .redactor_toolbar li a.redactor_btn_link span		 		 { background-position: -300px; }
body .redactor_toolbar li a.redactor_btn_fontcolor span		 	 { background-position: -325px; }
body .redactor_toolbar li a.redactor_btn_backcolor span		 	 { background-position: -350px; }
body .redactor_toolbar li a.redactor_btn_justifyleft span		 { background-position: -375px; }
body .redactor_toolbar li a.redactor_btn_justifycenter span		 { background-position: -400px; }
body .redactor_toolbar li a.redactor_btn_justifyright span		 { background-position: -425px; }
body .redactor_toolbar li a.redactor_btn_justify span		 	 { background-position: -450px; }
body .redactor_toolbar li a.redactor_btn_horizontalrule span 	 { background-position: -475px; }
body .redactor_toolbar li a.redactor_btn_fullscreen span		 { background-position: -500px; }							
body .redactor_toolbar li a.redactor_btn_normalscreen span		 { background-position: -525px !important; }	



/*
	RESIZER
*/
.redactor_resizer {
	background-color: #f5f5f5;
	line-height: 0;
	font-size: 0;
}
.redactor_resizer div {
	display: block;
	background: url(../i/resizer.png) center no-repeat;
	background-position: 50% 1px;
	width: 49px;
	height: 8px;
	margin: auto;
	cursor: s-resize;
}

/*
	DROPDOWN
*/
.redactor_dropdown {
	top: 28px;
	left: 0;
	z-index: 1003;
	position: absolute;
	width: 200px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 13px;
	-webkit-box-shadow: 0 2px 4px #ccc;
	-moz-box-shadow: 0 2px 4px #ccc;	
	box-shadow: 0 2px 4px #ccc;	
	line-height: 21px;		
}
.redactor_separator_drop {
	border-top: 1px solid #ddd;;
	padding: 0 !important;
	line-height: 0;
	font-size: 0;
}
.redactor_dropdown a {
	display: block;
	color: #000;
	padding: 3px 5px;
	text-decoration: none;
}
.redactor_dropdown a:hover {
	color: #444 !important;
	text-decoration: none;
	background-color: #f2f2f2;
}		

/* ColorPicker */
.redactor_color_link {
	padding: 0 !important;
	width: 15px !important;
	height: 15px !important;
	float: left !important;
	border: 2px solid #fff !important;
	font-size: 0;
}
.redactor_color_none {
	font-size: 11px;
}


/* MODAL */
#redactor_modal_overlay {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
	

	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter:alpha(opacity=70);
	opacity: 0.70;
	
	background-color: #000 !important;
}
#redactor_modal_overlay[id] { position: fixed; }

#redactor_modal {
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	
	box-shadow: 0px 5px 20px #111;
	-webkit-box-shadow: 0 5px 20px #111; 
  	-moz-box-shadow: 0 5px 20px #111;	
  	
  	-webkit-border-radius: 8px;
  	-moz-border-radius: 8px;
  	border-radius: 8px;  	  	
  		
  	z-index: 50001;	
	font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;   	
	color: #000;
}
#redactor_modal_header {
	padding: 30px 40px;
	font-size: 24px;
}
#redactor_modal_inner {
	padding: 0 40px 30px 40px;
}
#redactor_modal_close {
	position: absolute;
	right: 0px;
	top: 11px;
	font-size: 24px;
	width: 30px;
	height: 30px;
	color: #000;
	cursor: pointer;
}
#redactor_modal label {
	display: inline !important;
}
.redactor_ruler {
	margin-bottom: 10px;
}
.redactor_ruler td {
	font-size: 12px !important;
	padding: 5px !important;
	border: none !important;
}
#redactor_image_box {
	height: 270px; 
	overflow: auto; 
	margin-bottom: 10px;
}

#redactor_image_box img {
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

#redactor_tabs {
	position: relative;
	top: -15px;
	overflow: hidden;
	list-style: none;
	margin-left: 0;
	margin-bottom: 5px;
}
#redactor_tabs li {
	float: left;
	margin-right: 10px;
}
#redactor_tabs li a {
	display: block;
	color: #000;
	padding: 3px 7px;
	font-size: 12px;
}
#redactor_tabs li a.redactor_tabs_act, #redactor_tabs li a.redactor_tabs_act:hover {
	background-color: #e7e7e7 !important;
	text-decoration: none !important;
	color: #777 !important;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;  		
}

/* Drag'n'Drop Area */
.redactor_droparea {
	position: relative;
    width: 100%;
    margin: auto;	
}
.redactor_droparea .redactor_dropareabox {    
	z-index: 1;
	position: relative;
    text-align: center;    
    width: 96%;
    padding: 80px 0;
    border: 2px dashed #bbb;
}
.redactor_droparea .redactor_dropareabox, .redactor_dropalternative {
    color: #777;
    font-size: 13px;
}
.redactor_dropalternative {
	margin: 4px 0 2px 0;
}
.redactor_dropareabox.hover {
    background: #efe3b8;
    border-color: #aaa;
}
.redactor_dropareabox.error {
    background: #f7e5e5;
    border-color: #dcc3c3;
}

.redactor_dropareabox.drop {
    background: #f4f4ee;
    border-color: #e0e5d6;
}
